Instalamos e importamos librerías

In [ ]:
# En algunos casos, puede ser necesario cambiar % por !, dependiendo de la versión de python en uso

%pip install pandas 
%pip install statsmodels 
%pip install linearmodels 
%pip install matplotlib 
%pip install numpy

In [ ]:
# Ahora las importamos

import pandas as pd
import statsmodels.api as sm
from linearmodels.panel import PanelOLS
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import numpy as np

Importamos los datos

In [50]:
df = pd.read_stata('../Bases de Datos .dta/autor-jole-2003.dta')
df

,state,year,ue,cpsths,tempue,hrwage,wkwage,lnhrw,lnwkw,lnftw,...,annemp,totemp,bls_ue,region,statelf,natlf,reglf,natue,regue,union
0,11.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,361500.0,78714400.0,NaN,1,NaN,0.0,0.0,0.000000,0.000000,NaN
1,11.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,356900.0,77387696.0,NaN,1,NaN,0.0,0.0,0.000000,0.000000,20.700001
2,11.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,375300.0,79863504.0,NaN,1,NaN,0.0,0.0,0.000000,0.000000,NaN
3,11.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,387800.0,82970000.0,NaN,1,NaN,0.0,0.0,0.000000,0.000000,NaN
4,11.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,405600.0,87369200.0,0.062,1,432409.3750,92354648.0,5544384.5,0.060438,0.057785,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,95.0,93.0,0.043933,0.003606,0.000000,13.194592,520.331238,2.437165,6.041272,6.222130,...,538800.0,111060304.0,0.043,9,563009.3750,118561184.0,17981786.0,0.068920,0.088055,NaN
1196,95.0,94.0,0.060942,0.003455,0.000000,13.323984,520.674988,2.436631,6.012619,6.188493,...,536200.0,114176896.0,0.061,9,571033.0000,120860816.0,18058438.0,0.060753,0.079533,NaN
1197,95.0,95.0,0.057788,0.002229,0.000000,13.050425,507.867493,2.417453,5.979689,6.177753,...,532800.0,117092096.0,0.059,9,566206.1875,123315104.0,18319228.0,0.055675,0.072979,NaN
1198,95.0,96.0,0.058244,0.004537,0.001337,13.339598,509.207947,2.430573,5.967892,6.180829,...,530700.0,119550296.0,0.064,9,566987.1875,125680008.0,18735586.0,0.053730,0.069797,NaN
1199,95.0,97.0,0.066442,0.004163,0.000532,13.402189,513.199097,2.447103,5.988939,6.211136,...,531900.0,122656896.0,0.064,9,568269.2500,128363512.0,19169750.0,0.049248,0.060786,NaN

In [51]:
df['state']

0       11.0
1       11.0
2       11.0
3       11.0
4       11.0
        ...
1195    95.0
1196    95.0
1197    95.0
1198    95.0
1199    95.0
Name: state, Length: 1200, dtype: float32

Creamos variables

In [52]:
# Log total employment: from BLS employment & earnings
df['lnemp'] = np.log(df['annemp'])  
# Non-business-service sector employment from CBP
df['nonemp'] = df['stateemp'] - df['svcemp']
df['lnnon'] = np.log(df['nonemp'])
df['svcfrac'] = df['svcemp'] / df['nonemp']
#Total business services employment from CBP
df['bizemp'] = df['svcemp'] + df['peremp']
df['lnbiz'] = np.log(df['bizemp'])
# Time trends
df['t'] = df['year'] - 78       # linear trend
df['t2'] = df['t'] ** 2         # Quadratic trend

 Restringimos la muestra según nuestro interés

In [53]:
df = df[(df['year'] >= 79) & (df['year'] <= 95) & (df['state'] != 98)]

Agregamos más variables demográficas y modificamos la variable de unión

In [54]:
# Generamos las variables demográficas agregadas
df['clp'] = df['clg'] + df['gtc']
df['a1624'] = df[['m1619', 'm2024', 'f1619', 'f2024']].sum(axis=1)
df['a2554'] = df['m2554'] + df['f2554']
df['a55up'] = df[['m5564', 'm65up', 'f5564', 'f65up']].sum(axis=1)
df['fem'] = df[['f1619', 'f2024', 'f2554', 'f5564', 'f65up']].sum(axis=1)
df['white'] = df['rs_wm'] + df['rs_wf']
df['black'] = df['rs_bm'] + df['rs_bf']
df['other'] = df['rs_om'] + df['rs_of']
df['married'] = df['marfem'] + df['marmale']

# Modificamos la variable de union
df.loc[df['year'].isin([79, 81]), 'unmem'] = np.nan  # Excluimos 1979 y 1981
df['unmem'] = df['unmem'] * 100   # A porcentaje

Antes de realizar las regresiones, adecuamos la base de dato a un multindex para poder regresionar

In [55]:
df = df.set_index(['state', 'year'])
df

                  ue    cpsths    tempue     hrwage      wkwage     lnhrw  \
state year
11.0  79.0  0.077437  0.000000  0.001249   4.969775  194.019363  1.494992
      80.0  0.080174  0.000325  0.000000   5.438186  211.702667  1.582148
      81.0  0.070858  0.000780  0.000000   5.825861  228.081894  1.659217
      82.0  0.084640  0.001092  0.000000   6.280896  242.448547  1.724446
      83.0  0.091918  0.001789  0.000404   6.577292  258.201538  1.768105
...              ...       ...       ...        ...         ...       ...
95.0  91.0  0.028089  0.003349  0.000000  12.482441  498.799286  2.372595
      92.0  0.046817  0.003086  0.000000  12.795998  504.817474  2.406605
      93.0  0.043933  0.003606  0.000000  13.194592  520.331238  2.437165
      94.0  0.060942  0.003455  0.000000  13.323984  520.674988  2.436631
      95.0  0.057788  0.002229  0.000000  13.050425  507.867493  2.417453

               lnwkw     lnftw       hsd       hsg  ...     t2       clp  \
state year                                          ...
11.0  79.0  5.035960  5.310332  0.253758  0.422910  ...    1.0  0.162131
      80.0  5.143550  5.381139  0.245879  0.426097  ...    4.0  0.155715
      81.0  5.217398  5.471805  0.241819  0.423842  ...    9.0  0.155863
      82.0  5.275512  5.527994  0.220420  0.427589  ...   16.0  0.168504
      83.0  5.311575  5.597443  0.189732  0.436904  ...   25.0  0.176277
...              ...       ...       ...       ...  ...    ...       ...
95.0  91.0  5.985239  6.169759  0.092416  0.347033  ...  169.0  0.289614
      92.0  5.999764  6.214530  0.083364  0.347915  ...  196.0  0.280986
      93.0  6.041272  6.222130  0.076595  0.348953  ...  225.0  0.271185
      94.0  6.012619  6.188493  0.087524  0.339075  ...  256.0  0.245760
      95.0  5.979689  6.177753  0.083665  0.325533  ...  289.0  0.261959

               a1624     a2554     a55up       fem     white     black  \
state year
11.0  79.0  0.246696  0.605539  0.147765  0.424343  0.992131  0.002003
      80.0  0.238558  0.617534  0.143908  0.427401  0.989318  0.002671
      81.0  0.242791  0.622122  0.135087  0.421965  0.992249  0.002859
      82.0  0.224009  0.646418  0.129572  0.429675  0.991188  0.002615
      83.0  0.221283  0.640045  0.138671  0.441355  0.988654  0.002282
...              ...       ...       ...       ...       ...       ...
95.0  91.0  0.131415  0.714378  0.154207  0.471808  0.346777  0.015227
      92.0  0.141886  0.720312  0.137802  0.481401  0.348110  0.016678
      93.0  0.125163  0.736133  0.138704  0.472990  0.329735  0.020363
      94.0  0.132026  0.729509  0.138465  0.495596  0.345330  0.022824
      95.0  0.149073  0.722274  0.128653  0.495241  0.369253  0.021390

               other   married
state year
11.0  79.0  0.005866  0.665771
      80.0  0.008012  0.649958
      81.0  0.004893  0.653300
      82.0  0.006197  0.662008
      83.0  0.009064  0.654446
...              ...       ...
95.0  91.0  0.637996  0.593802
      92.0  0.635212  0.589891
      93.0  0.649902  0.617761
      94.0  0.631845  0.588175
      95.0  0.609357  0.608256

[850 rows x 613 columns]

Realizamos la regresión DID

In [56]:
# Creamos year y state como columnas temporales para la regresión
df['state'] = df.index.get_level_values('state')
df['year'] = df.index.get_level_values('year')
# Función para aplicar una regresión de efectos fijos
formula = formula = "lnths ~ 1 + lnemp + admico_2 + admico_1 + admico0 + admico1 + admico2 + admico3 + mico4 + \
            admppa_2 + admppa_1 + admppa0 + admppa1 + admppa2 + admppa3 + mppa4 + \
            admgfa_2 + admgfa_1 + admgfa0 + admgfa1 + admgfa2 + admgfa3 + mgfa4 + \
            C(year) + C(state) + C(state):t + EntityEffects" # Formula de la regresión
model = PanelOLS.from_formula(formula, data=df, check_rank=False, drop_absorbed=True) # Aplicamos al conjunto de datos y usamos los pesos según población
result = model.fit(cov_type="clustered", cluster_entity=True,)   # La clusterización por grupos 
print(result)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lnths   R-squared:                        0.9475
Estimator:                   PanelOLS   R-squared (Between):              0.8055
No. Observations:                 850   R-squared (Within):               0.9475
Date:                Thu, Oct 31 2024   R-squared (Overall):              0.8354
Time:                        14:24:13   Log-likelihood                    252.82
Cov. Estimator:             Clustered
                                        F-statistic:                      147.88
Entities:                          50   P-value                           0.0000
Avg Obs:                       17.000   Distribution:                  F(87,713)
Min Obs:                       17.000
Max Obs:                       17.000   F-statistic (robust):          1.007e+16
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(87,713)
Avg Obs:                       50.000
Min Obs:                       50.000
Max Obs:                       50.000

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
Intercept             -14.101     5.3806    -2.6208     0.0090     -24.665     -3.5375
lnemp                  1.5796     0.3863     4.0886     0.0000      0.8211      2.3381
admico_2              -0.0166     0.0503    -0.3295     0.7419     -0.1153      0.0822
admico_1              -0.0013     0.0560    -0.0236     0.9812     -0.1113      0.1086
admico0                0.1077     0.0766     1.4060     0.1602     -0.0427      0.2580
admico1                0.1469     0.0817     1.7986     0.0725     -0.0134      0.3072
admico2                0.2281     0.1000     2.2815     0.0228      0.0318      0.4243
admico3                0.1436     0.1029     1.3958     0.1632     -0.0584      0.3457
mico4                  0.1964     0.1195     1.6435     0.1007     -0.0382      0.4309
admppa_2               0.0033     0.0553     0.0599     0.9522     -0.1053      0.1119
admppa_1              -0.0559     0.0596    -0.9385     0.3483     -0.1730      0.0611
admppa0               -0.0528     0.0777    -0.6798     0.4968     -0.2053      0.0997
admppa1               -0.0153     0.0853    -0.1799     0.8573     -0.1828      0.1521
admppa2               -0.0689     0.1052    -0.6546     0.5129     -0.2755      0.1377
admppa3               -0.1294     0.1207    -1.0715     0.2843     -0.3664      0.1077
mppa4                 -0.1308     0.1237    -1.0574     0.2907     -0.3736      0.1120
admgfa_2               0.0433     0.0701     0.6179     0.5369     -0.0943      0.1809
admgfa_1              -0.0506     0.0784    -0.6458     0.5186     -0.2046      0.1033
admgfa0               -0.0974     0.0860    -1.1326     0.2578     -0.2663      0.0715
admgfa1               -0.1510     0.0716    -2.1090     0.0353     -0.2916     -0.0104
admgfa2               -0.1782     0.0889    -2.0053     0.0453     -0.3528     -0.0037
admgfa3               -0.1621     0.0834    -1.9435     0.0524     -0.3258      0.0017
mgfa4                 -0.0467     0.0919    -0.5086     0.6112     -0.2272      0.1337
C(year)[T.80.0]       -0.0724     0.0324    -2.2340     0.0258     -0.1361     -0.0088
C(year)[T.81.0]       -0.1497     0.0503    -2.9778     0.0030     -0.2485     -0.0510
C(year)[T.82.0]       -0.2029     0.0666    -3.0470     0.0024     -0.3337     -0.0722
C(year)[T.83.0]       -0.2383     0.0607    -3.9289     0.0001     -0.3574     -0.1192
C(year)[T.84.0]        0.0116     0.0728     0.1593     0.8735     -0.1313      0.1545
C(year)[T.85.0]        0.1176     0.0852     1.3803     0.1679     -0.0497      0.2849
C(year)[T.86.0]        0.1533     0.0991     1.5476     0.1222     -0.0412      0.3478
C(year)[T.87.0]        0.1746     0.1198     1.4573     0.1455     -0.0606      0.4099
C(year)[T.88.0]        0.4113     0.1241     3.3139     0.0010      0.1676      0.6550
C(year)[T.89.0]        0.4017     0.1377     2.9178     0.0036      0.1314      0.6720
C(year)[T.90.0]        0.3695     0.1484     2.4898     0.0130      0.0781      0.6608
C(year)[T.91.0]        0.3552     0.1591     2.2327     0.0259      0.0429      0.6675
C(year)[T.92.0]        0.4282     0.1609     2.6617     0.0080      0.1124      0.7441
C(year)[T.93.0]        0.6167     0.1604     3.8452     0.0001      0.3018      0.9316
C(year)[T.94.0]        0.6671     0.1676     3.9796     0.0001      0.3380      0.9963
C(year)[T.95.0]        0.6807     0.1790     3.8038     0.0002      0.3294      1.0320
C(state)[T.11.0]:t     0.1005     0.0084     12.026     0.0000      0.0841      0.1169
C(state)[T.12.0]:t     0.0554     0.0071     7.8046     0.0000      0.0415      0.0693
C(state)[T.13.0]:t     0.1386     0.0040     34.457     0.0000      0.1307      0.1465
C(state)[T.14.0]:t    -0.0041     0.0089    -0.4668     0.6408     -0.0215      0.0132
C(state)[T.15.0]:t     0.0567     0.0106     5.3353     0.0000      0.0358      0.0775
C(state)[T.16.0]:t    -0.0208     0.0096    -2.1812     0.0295     -0.0396     -0.0021
C(state)[T.21.0]:t    -0.0206     0.0096    -2.1444     0.0323     -0.0395     -0.0017
C(state)[T.22.0]:t    -0.0100     0.0066    -1.4998     0.1341     -0.0230      0.0031
C(state)[T.23.0]:t     0.0206     0.0104     1.9789     0.0482      0.0002      0.0411
C(state)[T.31.0]:t     0.0503     0.0074     6.7927     0.0000      0.0358      0.0649
C(state)[T.32.0]:t     0.0513     0.0076     6.7610     0.0000      0.0364      0.0662
C(state)[T.33.0]:t     0.0571     0.0093     6.1345     0.0000      0.0388      0.0753
C(state)[T.34.0]:t     0.0512     0.0077     6.6533     0.0000      0.0361      0.0663
C(state)[T.35.0]:t     0.0130     0.0039     3.3020     0.0010      0.0053      0.0207
C(state)[T.41.0]:t     0.0037     0.0050     0.7294     0.4660     -0.0062      0.0136
C(state)[T.42.0]:t     0.0382     0.0045     8.4630     0.0000      0.0294      0.0471
C(state)[T.43.0]:t     0.0309     0.0095     3.2588     0.0012      0.0123      0.0494
C(state)[T.44.0]:t     0.0748     0.0059     12.617     0.0000      0.0632      0.0865
C(state)[T.45.0]:t     0.0559     0.0055     10.206     0.0000      0.0452      0.0667
C(state)[T.46.0]:t     0.0615     0.0054     11.455     0.0000      0.0509      0.0720
C(state)[T.47.0]:t     0.0954     0.0036     26.557     0.0000      0.0884      0.1025
C(state)[T.51.0]:t     0.0093     0.0092     1.0102     0.3127     -0.0087      0.0273
C(state)[T.52.0]:t     0.0092     0.0029     3.1426     0.0017      0.0035      0.0150
C(state)[T.54.0]:t     0.0267     0.0049     5.4228     0.0000      0.0170      0.0363
C(state)[T.55.0]:t     0.0335     0.0103     3.2622     0.0012      0.0133      0.0536
C(state)[T.56.0]:t     0.1011     0.0117     8.6766     0.0000      0.0782      0.1240
C(state)[T.57.0]:t     0.1057     0.0033     32.418     0.0000      0.0993      0.1121
C(state)[T.58.0]:t     0.0484     0.0100     4.8543     0.0000      0.0288      0.0680
C(state)[T.59.0]:t     0.0684     0.0110     6.2282     0.0000      0.0468      0.0899
C(state)[T.61.0]:t     0.0650     0.0030     21.322     0.0000      0.0590      0.0710
C(state)[T.62.0]:t     0.0883     0.0066     13.407     0.0000      0.0753      0.1012
C(state)[T.63.0]:t     0.0968     0.0095     10.212     0.0000      0.0782      0.1155
C(state)[T.64.0]:t     0.1994     0.0114     17.503     0.0000      0.1770      0.2217
C(state)[T.71.0]:t     0.1351     0.0029     46.804     0.0000      0.1294      0.1408
C(state)[T.72.0]:t     0.0196     0.0110     1.7817     0.0752     -0.0020      0.0413
C(state)[T.73.0]:t     0.0556     0.0110     5.0589     0.0000      0.0340      0.0772
C(state)[T.74.0]:t     0.0517     0.0031     16.660     0.0000      0.0456      0.0578
C(state)[T.81.0]:t     0.1455     0.0087     16.765     0.0000      0.1285      0.1626
C(state)[T.82.0]:t     0.0998     0.0085     11.775     0.0000      0.0832      0.1165
C(state)[T.83.0]:t     0.0872     0.0092     9.4582     0.0000      0.0691      0.1053
C(state)[T.84.0]:t     0.0111     0.0046     2.4204     0.0158      0.0021      0.0202
C(state)[T.85.0]:t     0.0803     0.0070     11.543     0.0000      0.0666      0.0940
C(state)[T.86.0]:t     0.0325     0.0112     2.9085     0.0037      0.0106      0.0544
C(state)[T.87.0]:t     0.1125     0.0052     21.469     0.0000      0.1022      0.1228
C(state)[T.88.0]:t     0.0456     0.0137     3.3155     0.0010      0.0186      0.0726
C(state)[T.91.0]:t     0.0396     0.0108     3.6588     0.0003      0.0184      0.0609
C(state)[T.92.0]:t     0.0666     0.0079     8.3826     0.0000      0.0510      0.0822
C(state)[T.93.0]:t    -0.0048     0.0089    -0.5374     0.5912     -0.0223      0.0127
C(state)[T.94.0]:t     0.0577     0.0081     7.0789     0.0000      0.0417      0.0737
======================================================================================

F-test for Poolability: 44.622
P-value: 0.0000
Distribution: F(49,713)

Included effects: Entity